<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="{{url_root}}/bundle.css">
    <title>contacts</title>
  </head>
  <body>
    <div id="application">
      <div class="spin-rotating-plane"></div>
    </div>
    <script src="{{url_root}}/bundle.js">
    </script>
  </body>
</html>
