<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>contacts</title>
  </head>
  <body>
    <div id="application">
      <h1>marionette unimplemented</h1>
    </div>
    <script src="{{url_root}}/bundle.js">
    </script>
  </body>
</html>
