<section class="login">
  <section class="form">
    <div>
      <h3>login</h3>
      <form action="javascript:void(0);">
        <div>
          <label>username</label>
          <input
             type="text"
             placeholder="username"
             name="username"
             ></input>
        </div>
        <div>
          <label>password</label>
          <input
             type="password"
             placeholder="password"
             name="password"
             ></input>
        </div>
        <button>login</button>
      </form>
    </div>
  </section>
  <div class="separator">
    <div class="line before">
    </div>
    <span>or</span>
    <div class="line after">
    </div>
  </div>
  <div class="signup">
    <a href="/signup/" class="signup">signup</a>
  </div>
</section>
