<section class="form">
  <div>
    <h3>signup</h3>
    <form action="javascript:void(0);">
      <div>
        <label>username</label>
        <input
           type="text"
           placeholder="username"
           name="username"
           ></input>
      </div>
      <div>
        <label>password</label>
        <input
           type="password"
           placeholder="password"
           name="password"
           ></input>
      </div>
      <div>
        <label>confirm password</label>
        <input
           type="password"
           placeholder="password"
           name="password-confirm"
           ></input>
      </div>
      <button>signup</button>
    </form>
  </div>
</section>
